*{ padding: 0;
   margin: 0;
   box-sizing: border-box
 }
 .hero{
     height: 100vh;
     width: 100%;
     background-image: url(./i16.jpg);
     background-size: cover;
     background-position: center
 }
 .logo{ 
     color: wheat;
     font-size: 35px;
     letter-spacing: 15px;
     cursor: pointer;
 }
 span{ color: rgb(187, 91, 91);}
 .seclead{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-top: 50px;
     padding-left: 10px;
     padding-right: 10px 
 }
ul li{
    display: inline-block;
    padding:20px 50px
}
ul li a{
     color: rgb(250, 250, 250);
     text-decoration: none;
     font-size: 20px}
     
ul li a:hover{
    color: rgb(187, 91, 91)
}

.button{
    background-color: rgb(187, 91, 91);
    color: white;
    text-decoration: white;
    border: 2px solid wheat;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s
}
.button:hover{
    transform: scale(1.1)
}

.content{
    position: absolute;
    top:50%;
    left: 10%;
}
h2{ color: wheat;
    margin: 20px 0 20px;
    font-size: 70px
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px
}
h4{
    color: rgb(212, 193, 193);
    font-size: 20px;
    letter-spacing: 2px
}
.newsletter form {
    width: 400px;
    max-width: 100%;
    position: relative;
}
.newsletter form input:first-child{
    width: 100%;
    display: inline-block;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(187, 91, 91);
    border-radius: 30px
}
.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    border:none;
    border-radius: 30px;
    padding: 10px 30px;
    background-color: rgb(187, 91, 91);
    color: whitesmoke;
    top:6px;
    right:6px
}
.icons{
    display: flex;
    justify-content:space-between;
}

.icons .footIcon{
    display: inline-block;
    position: relative;
    top: 16px;
    
}
.iconss .footIcon .icon{
    display: inline-block;
    transition: transform .6s
}

.iconss .footIcon .icon:hover{
    transform:scale(1.1);
    text-shadow: 12px 12px 12px white;
}

